*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/adultchain
src/adultchaind
src/adultchain-cli
src/adultchain-tx
src/test/test_adultchain
src/qt/test/test_adultchain-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/adultchain-config.h
src/config/adultchain-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.adultchain
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
adultchain-qt
adultchain-Qt.app

# Unit-tests
Makefile.test
adultchain-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_adultchain.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/

.idea
CMakeLists.txt
cmake-build-debug
config.log
config.status
/.vs/smrtc/v15/Browse.VC.db
/.vs/smrtc/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/smrtc/v15/.suo
/.vs/VSWorkspaceState.json
.vs/smrtc/v15/ipch/AutoPCH/265c25126fc6063c/GUIUTIL.ipch
.vs/smrtc/v15/ipch/AutoPCH/3fc496d53ea39c11/BLOCKEXPLORER.ipch
.vs/smrtc/v15/ipch/AutoPCH/5296bec56a7191ec/MASTERNODEMAN.ipch
.vs/smrtc/v15/ipch/AutoPCH/6883191c1916ca26/AMOUNT.ipch
.vs/smrtc/v15/ipch/AutoPCH/8d46eca7c6902300/INIT.ipch
.vs/CCBC/v15/.suo
.vs/CCBC/v15/Browse.VC.db
.vs/CCBC/v15/Browse.VC.opendb
.vs/CCBC/v15/ipch/AutoPCH/9a0c471bdb4f68f4/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/1d92aff8c171a719/PARAMGENERATION.ipch
.vs/CCBC/v15/ipch/AutoPCH/41c8d4b10f5772ab/PARAMGEN.ipch
.vs/slnx.sqlite-journal
.vs/CCBC/v15/ipch/AutoPCH/7a053cc9182e9c0c/GUIUTIL.ipch
.vs/CCBC/v15/ipch/AutoPCH/7b7311dfb0c553fa/TRANSACTIONRECORD.ipch
.vs/CCBC/v15/ipch/AutoPCH/d6fbcfae9fa9feb4/PAYMENTSERVER.ipch
.vs/CCBC/v15/ipch/AutoPCH/aee126f7c87e321c/MASTERNODEMAN.ipch
.vs/CCBC/v15/ipch/AutoPCH/40dadb20cea31fa0/BITCOINCONSENSUS.ipch
.vs/CCBC/v15/ipch/AutoPCH/713ff23d09b32455/RPCDUMP.ipch
.vs/CCBC/v15/ipch/AutoPCH/78d5b3ed1536249e/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/cf13db34be1232da/INIT.ipch
.vs/CCBC/v15/ipch/AutoPCH/fb4db16ec65083b9/OVERVIEWPAGE.ipch
.vs/config/applicationhost.config
.vs/CCBC/v15/ipch/AutoPCH/3e4badd4568fd837/NET.ipch
.vs/CCBC/v15/ipch/AutoPCH/afae31017abe89a9/CLIENTVERSION.ipch
.vs/CCBC/v15/ipch/AutoPCH/61ec4997d723899f/PRIVACYDIALOG.ipch
.vs/CCBC/v15/ipch/AutoPCH/ca6d783b7809f7b3/CLIENTVERSION.ipch
.vs/CCBC/v15/ipch/AutoPCH/f23d24a681de1e86/INFOPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/ef6b69bb996d1ba4/INFORMATIONPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/de790643649912e3/OVERVIEWPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/d86baddcca175037/OVERVIEWPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/d1ef3eb8a21365f3/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/cea00ee08fcf5234/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/ca08e325c2dfb89e/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/b8977c721c017288/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/8270e7731e7c780b/OVERVIEWPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/68386e8ece743ee3/OVERVIEWPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/17a9e86b3fc8b7b0/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/177e9d87b59f1805/PRIVACYDIALOG.ipch
.vs/CCBC/v15/ipch/AutoPCH/97cdf6ca85efe74/PROTOCOL.ipch
.vs/CCBC/v15/ipch/AutoPCH/f836824dc3c97f9a/CCBC-CLI.ipch
