[submodule "src/secp256k1"]
	path = src/secp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
[submodule "src/leveldb"]
	path = src/leveldb
	url = https://github.com/bitcoin-core/leveldb.git
[submodule "src/univalue"]
	path = src/univalue
	url = https://github.com/bitcoin-core/univalue.git
