*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/poseidon
src/poseidond
src/poseidon-cli
src/poseidon-tx
src/test/test_poseidon
src/qt/test/test_poseidon-qt

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
confdefs.h
conftest.cpp
conftest.err
libtool
src/config/poseidon-config.h
src/config/poseidon-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist
contrib/devtools/split-debug.sh

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.poseidon
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
poseidon-qt
poseidon-Qt.app

# Unit-tests
Makefile.test
poseidon-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

#lcov
*.gcno
/*.info
test_poseidon.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
qa/pull-tester/cache/*
qa/pull-tester/test.*/*

!src/leveldb*/Makefile

.cproject
.project
/doc/doxygen/
/nbproject/

.idea
CMakeLists.txt
cmake-build-debug
config.log
config.status
.vs/ccbc/v15/.suo
.vs/ccbc/v15/Browse.VC.db
.vs/ccbc/v15/Browse.VC.opendb
.vs/ccbc/v15/ipch/AutoPCH/6128fda3004a16a7/HISTOGRAM.ipch
.vs/ccbc/v15/ipch/AutoPCH/867168a137692ac6/MASTERNODEMAN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CCBC/v15/ipch/AutoPCH/39e800a96980bfb0/TRANSACTIONRECORD.ipch
.vs/CCBC/v15/ipch/AutoPCH/3e4badd4568fd837/NET.ipch
.vs/CCBC/v15/ipch/AutoPCH/47ea7bab20a03820/RPCCLIENT.ipch
.vs/CCBC/v15/ipch/AutoPCH/5acf5b26d7b06fe7/RPCCONSOLE.ipch
.vs/CCBC/v15/ipch/AutoPCH/5bd79ca3052e20c2/NETBASE.ipch
.vs/CCBC/v15/ipch/AutoPCH/9e59def887d3f8e9/NOTIFICATOR.ipch
.vs/CCBC/v15/ipch/AutoPCH/bac51a75c75f068e/RPCNET.ipch
.vs/CCBC/v15/ipch/AutoPCH/cd51b7a38a10eaac/TRAFFICGRAPHWIDGET.ipch
.vs/CCBC/v15/ipch/AutoPCH/cf13db34be1232da/INIT.ipch
.vs/CCBC/v15/ipch/AutoPCH/d04b48ec25101b9c/TRANSACTIONDESC.ipch
.vs/CCBC/v15/ipch/AutoPCH/da9e7932fe7625fd/SCHEDULER.ipch
.vs/CCBC/v15/ipch/AutoPCH/db308ae62eb1061d/WALLETMODELTRANSACTION.ipch
.vs/CCBC/v15/ipch/AutoPCH/dbdd799cdbf5c2b3/ABITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/e391866a0dc9dccb/BLOCKEXPLORER.ipch
.vs/CCBC/v15/ipch/AutoPCH/fb4db16ec65083b9/OVERVIEWPAGE.ipch
.vs/CCBC/v15/ipch/AutoPCH/ffe96ac68f786478/POW.ipch
.vs/config/applicationhost.config
.vs/CCBC/v15/ipch/AutoPCH/78d5b3ed1536249e/BITCOINGUI.ipch
.vs/CCBC/v15/ipch/AutoPCH/7af4be6023f44dd6/MASTERNODEMAN.ipch
.vs/CCBC/v15/ipch/AutoPCH/77d567438d4ebca2/POW.ipch
.vs/CCBC/v15/ipch/AutoPCH/6a677560f076cf6a/ECCRYPTOVERIFY.ipch
.vs/CCBC/v15/ipch/AutoPCH/e042c7e57ec7e763/SPORKDB.ipch
